# Secrets
.env
.env.local
config.yaml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local

# PyCharm / VSCode / IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Logs
logs/
*.log

# Instance Data
data/
